body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #fff;
}
a {
  text-decoration: none;
}
ul {
  list-style-type: none;
}
.accent {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  line-height: 1.16667;
  color: #2e2f42;
}
.logo {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  line-height: 1.16667;
  color: #404bbf;
}
.link:hover,
.link:focus {
  color: #4d5ae5;
}
.accent:hover,
.accent:focus {
  color: #4d5ae5;
}
h1 {
  font-size: 56px;
  line-height: 1.07143;
  color: #fff;
}
h2 {
  font-size: 36px;
  line-height: 1.11111;
  color: #2e2f42;
}
h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: #2e2f42;
}
p {
  line-height: 1.5;
  color: #434455;
}
.btn {
  line-height: 1.5;
  color: #fff;
  cursor: pointer;
  border-radius: 4px;
  padding: 16px 32px;
  width: 169px;
  height: 56px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: #4d5ae5;
}
address {
  font-size: 16px;
  line-height: 1.5;
  color: #434455;
}
nav {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #2e2f42;
}
