body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #fff;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

/* section 
block-one,
block-two, 
block-three  */

.title-two {
  text-transform: capitalize;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}
.title-three {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.container {
  width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}

.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

/* header top-line */

.top-line {
  border-bottom: 1px solid #e7e9fc;
}

.logo-web {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.logo-top-line {
  margin-right: 76px;
  padding: 24px 0;
}

.logo-studio {
  color: #2e2f42;
}

.top-line-nav-link {
  display: block;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding: 24px 0;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.top-line-nav-link:hover,
.top-line-nav-link:focus {
  color: #404bbf;
}

.top-line-contacts {
  font-style: normal;
  margin-left: auto;
}

.top-line-contacts-link {
  display: block;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  padding: 24px 0;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.top-line-contacts-link:hover,
.top-line-contacts-link:focus {
  color: #404bbf;
}

.top-line-container {
  display: flex;
  align-items: center;
}

.top-line-nav {
  display: flex;
  align-items: center;
}

.top-line-nav-list {
  display: flex;
  gap: 40px;
}

.top-line-contacts-list {
  display: flex;
  gap: 40px;
}

.nav-link-studio {
  color: #404bbf;
}

.nav-item-studio {
  display: flex;
  flex-direction: column;
}

.nav-item-studio::after {
  border-radius: 2px;
  width: 48px;
  height: 4px;
  background: #404bbf;
  content: '';
}

/* hero */

.hero {
  background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 1440px;
  padding-top: 188px;
  padding-bottom: 188px;
}

.title {
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  max-width: 496px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 48px;
}

.hero-button {
  display: block;
  border: none;
  background-color: #4d5ae5;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  border-radius: 4px;
  min-width: 169px;
  height: 56px;
  margin-right: auto;
  margin-left: auto;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover,
.hero-button:focus {
  background-color: #404bbf;
}

/* section block-one */

.block-one.title-two {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.block-one .title-three {
  margin-bottom: 8px;
}

.block-one-list {
  display: flex;
  align-items: flex-start;
  gap: 24px;
}

.block-one-box {
  padding-top: 24px;
  padding-bottom: 24px;
  border: 1px solid #8e8f99;
  background: #f4f4fd;
  border-radius: 4px;
  margin-bottom: 8px;
}

.block-one-item {
  width: calc((100% - 72px) / 4);
}

.block-one-box-icon {
  display: block;
  margin: 0 auto;
}

/* section block-two */

.section.block-two {
  background-color: #f4f4fd;
}

.block-two.title-two {
  margin-bottom: 72px;
}

.block-two-item {
  background-color: #ffffff;
  width: calc((100% - 72px) / 4);
  border-radius: 0 0 4px 4px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.block-two-list {
  display: flex;
  align-items: flex-start;
  gap: 24px;
}

.team-content {
  padding: 32px 0;
}

.block-two.title-three {
  text-align: center;
  margin-bottom: 8px;
}

.block-two.text {
  text-align: center;
  margin-bottom: 8px;
}

.block-two-link {
  display: block;
  position: relative;
  background-color: #4d5ae5;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.block-two-link:hover {
  background-color: #404bbf;
}

.block-two-item-icon {
  fill: #f4f4fd;
  position: absolute;
  top: 12px;
  right: 12px;
}

.block-two-icon {
  display: flex;
  gap: 24px;
  justify-content: center;
}

/* section block-three */

.block-three.title-two {
  margin-bottom: 72px;
}

.block-three-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  column-gap: 24px;
  row-gap: 48px;
}

.project-card {
  border: 1px solid #e7e9fc;
  border-top: none;
  padding: 32px 16px;
}

.block-three.title-three {
  margin-bottom: 8px;
}

.block-three-item {
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.block-three-item:hover .overlay {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  transform: translatey(0);
}

.block-three-overlay-text {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding-top: 40px;
  padding-left: 32px;
}

.block-three-item-box {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #4d5ae5;
  transform: translatey(100%);
  transition: transform 250ms ease-in-out;
}

/* footer */

.footer {
  background-color: #2e2f42;
  padding: 100px 0;
  background-repeat: no-repeat;
  background-position: center;
}

.footer-logo-web {
  display: inline-block;
  margin-bottom: 16px;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.footer-logo-studio {
  color: #f4f4fd;
}

.footer-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  max-width: 264px;
}

.footer-title-media {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
}

.footer-link {
  display: block;
  position: relative;
  background-color: #4d5ae5;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-link:hover {
  background-color: #404bbf;
}

.footer-item-icon {
  fill: #f4f4fd;
  position: absolute;
  top: 12px;
  right: 12px;
}

.footer-container {
  display: flex;
  gap: 120px;
}

.footer-icon {
  display: flex;
  gap: 16px;
}
